<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tws.repository.ParkingLotMapper">
	<select id="getAllParkingLots" resultType="tws.entity.ParkingLot">
		select * from `parkingLot`
	</select>
	
	<select id="selectById" resultType="tws.entity.ParkingLot">
		select * from `parkingLot` where parkingLotID = #{parkingLotID}
	</select>
	
	<insert id="addParkingLot" parameterType="tws.entity.ParkingLot">
		insert into `parkingLot` values
			(#{parkingLotID}, #{capacity}, #{availablePositionCount}, #{parkingBoyId})
	</insert>
</mapper>