<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tws.repository.ParkingRelaMapper">
	<select id="getAllRela" resultType="tws.entity.ParkingRela">
		select * from `parkingRela`
	</select>
	
	<insert id="addParkingRela" parameterType="tws.entity.ParkingRela">
		insert into `parkingRela` values(#{employeeID}, #{parkingLotID})
	</insert>
</mapper>